Tasks:

1. Investigate rows where Description is null and decide how to handle them.
2. Check if missing values in Description correlate with specific StockCode values.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df1= pd.read_excel("C:/Users/prash/Desktop/data/online_retail_II.xlsx", sheet_name='Year 2009-2010')
df2= pd.read_excel('C:/Users/prash/Desktop/data/online_retail_II.xlsx', sheet_name='Year 2010-2011')
df = pd.concat([df1, df2], ignore_index=True)

# Data Cleaning- negative values to positive values
df['Quantity'] = df['Quantity'].abs()
df['Price'] = df['Price'].abs()

# Adding revenue column
df['TotalPrice'] = df['Quantity'] * df['Price']

# Removing bad data(not related to online retail sales)- got this data after doing product analysis
scanlist=['Manual','AMAZON FEE','DOTCOM POSTAGE','Adjust bad debt', 'POSTAGE']
df = df[~df['Description'].isin(scanlist)]

# Ensure the date column is in datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Extract year, month, quarter, week number, and day of the week
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Quarter'] = df['InvoiceDate'].dt.quarter
df['WeekNumber'] = df['InvoiceDate'].dt.isocalendar().week  # Week number
df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()  # Day of the week as a string

# Drop duplicates
# df.drop_duplicates(inplace=True)

Alright, some of the data has already been cleaned from previous analysis. Let's look for more cleaning

In [6]:
df[df['Customer ID'].isnull()]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice,Year,Month,Quarter,WeekNumber,DayOfWeek
263,489464,21733,85123a mixed,96,2009-12-01 10:52:00,0.00,NaN,United Kingdom,0.00,2009,12,4,49,Tuesday
283,489463,71477,short,240,2009-12-01 10:52:00,0.00,NaN,United Kingdom,0.00,2009,12,4,49,Tuesday
284,489467,85123A,21733 mixed,192,2009-12-01 10:53:00,0.00,NaN,United Kingdom,0.00,2009,12,4,49,Tuesday
470,489521,21646,NaN,50,2009-12-01 11:44:00,0.00,NaN,United Kingdom,0.00,2009,12,4,49,Tuesday
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom,0.55,2009,12,4,49,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066996,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom,13.16,2011,12,4,49,Friday
1066997,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,20.65,2011,12,4,49,Friday
1066998,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,16.52,2011,12,4,49,Friday
1066999,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,4.96,2011,12,4,49,Friday
1067000,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,10.79,2011,12,4,49,Friday

There are null customer IDs, but i won't remove this as it contains purchase data- which can be useful for analysis. At the same time, i would consult someone in case any request regarding Customer ID comes across.

In [8]:
df.duplicated().sum() # check for duplicates

np.int64(34237)

In [10]:
df.drop_duplicates(inplace=True)